@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


.login{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background: url('../images/slider/1.jpg');
	background-position: center;
	background-size: cover;
  
}



.navbar-brand, .login-form
{
    font-family: Raleway, sans-serif;
}


.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-height: 100em;
    max-width: 100em;
    margin-left: 40em;
    
    
}


.login-form .row
{
    margin-left: 5em;
    margin-right: 0;
}

.cotainer{
    min-height: 50em;
    margin-top: 20em;
}
