
.footer-section {
	padding: 65px 0;
	background: #353649;
	

}

.footer-widget {
	margin-bottom: 40px;
	margin-left: -20em;
}

.footer-widget h5 {
	font-weight: 700;
	color: #fff;
	margin-bottom: 35px;
	padding-top: 15px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: block;
	color: #acaebc;
	padding: 2px 0;
	margin-bottom: 8px;
}

.footer-social a {
	display: inline-table;
	width: 25px;
	height: 25px;
	border: 1px solid #7e7f8f;
	border-radius: 50%;
	color: #7e7f8f;
	font-size: 12px;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 5px;
}

.footer-social a i {
	vertical-align: middle;
	display: table-cell;
}

